alembic
asgi_lifespan
asyncpg~=0.27.0
asyncpg_utils~=0.6.0
bcrypt~=4.0.1
celery
emails
envparse~=0.2.0
faker
fastapi==0.89.1
gunicorn
httpx~=0.23.0
loguru==0.6.0
passlib~=1.7.4
pre-commit
psycopg2
psycopg2-binary
pydantic~=1.10.2
pydantic[email]~=1.10.2
pytest~=7.2.0
pytest
pytest-cov

python-dotenv
python-jose~=3.3.0
python-multipart~=0.0.5
pytz
raven
redis
SQLAlchemy==2.0.0
sqlalchemy-stubs
sqlalchemy_mixins
sqlalchemy_views
tenacity~=8.1.0
uvicorn
# aiogram>=3.0.0b6
